<table class="table table-striped fs-5 border-success my-4">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
        <tbody>
          <% rec.recipe_foods.each do |r| %>
            <tr>
              <% if r.food %>
                <th scope="row"> <%= r.food.name %></th>
                <td><%= r.quantity %><%= r.food.measurement_unit %></td>
                <td>$<%= r.calc_value(r.quantity, r.food.price) %></td>
              <% end %>
                <td>
                  <% if current_user.id == r.recipe.user_id %>
                    <%= link_to 'Remove', "/recipes/#{rec.id}/recipe_foods/#{r.id}", method: :delete, class: 'btn btn-danger' %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
</table>
