<p class="navbar-text float-right">
<% if user_signed_in? %>
  Welcome! You are logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
<% end %>
</p>

<%= link_to 'Create A Recipe', new_recipe_path %>

<section class="user_card">
  <ul>
    <% @recipes.order(:created_at).each do |recipe| %>
    <li>
      <div>
        <%= link_to recipe.name, recipe_path(recipe.id) %>
          <% if can? :destroy, recipe %>
        <%= link_to "Remove", recipe_path(recipe.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
      </div>
      <article><%= recipe.description %></article>
    </li>
     <% end %>
  </ul>
</section>
