<section class="container mt-4">
  <%= render "recipe_modal" %>

  <h2 class="fs-1 fw-semibold mt-3 mb-5">My Recipes</h2>
  <% if @recipes.empty? %>
    <p class="d-flex justify-content-center align-items-center text-center fs-4">
    You do not have any recipes yet<br> Kindly create one with the "Create A Recipe" button above
    </p>
  <% end %>
   <div>
    <ul class="m-0 p-0 mb-5">
      <% @recipes.order(:created_at).each do |recipe| %>
      <li class="card list-style-none mb-4 border border-dark">
        <div class="card-header fs-4">
        <%= link_to recipe.name, recipe_path(recipe.id), class: "text-decoration-none" %>
        </div>
        <div class="card-body">
          <p class="card-title fs-5 mb-4">Description: <%= recipe.description %></p>
          <div class="d-flex justify-content-between">
            <div>
              <span class="card-text">Cooking Time: <%= recipe.cooking_time %> minute(s)</span><br>
              <span class="card-text">Preparation Time: <%= recipe.preparation_time %> minute(s)</span>
            </div>
            <div>
              <% if can? :destroy, recipe %>
                <%= link_to "Remove", recipe_path(recipe.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
      <% end %>
        </ul>
  </div>
</section>
