<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto p-4">
                    <h1 class="display-3 py-2 text-truncate text-center">Sign in</h1>
                    <div class="px-2 mb-3">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>

                        <div class="form-group mb-3">
                          <%= f.label :email, class: "form-label fs-5" %><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                        </div>

                        <div class="form-group mb-3">
                          <%= f.label :password, class: "form-label fs-5" %>
                          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                        </div>

                        <% if devise_mapping.rememberable? %>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end %>

                        <div class="form-group mt-4 mb-3 text-center">
                          <%= f.submit "Sign In", class: "btn btn-success btn-lg" %>
                        </div>

                        <%= render "devise/shared/links" %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
