<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <%= link_to "Public recipes", authenticated_root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My recipes", recipes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Foods", foods_path, class: "nav-link" %>
          </li>
        </ul>

      <span class="badge bg-secondary mb-3 mb-lg-0 mx-lg-3">logged in as <strong><%= current_user.email %></strong></span>
      <form class="d-flex">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      </form>
       <% else %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Public recipes", authenticated_root_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex">
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-success" %>
      </form>
      <% end %>
    </div>
  </div>
</nav>
